[Unit]
Description=Replacement for cron, with sophisticated status-reporting and error-handling
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/lib/x86_64-linux-gnu/jobbermaster

[Install]
WantedBy=multi-user.target