## <summary>Cluster Configuration System</summary>

########################################
## <summary>
##	Execute a domain transition to run ccs.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`ccs_domtrans',`
	gen_require(`
		type ccs_t, ccs_exec_t;
	')

	domtrans_pattern($1, ccs_exec_t, ccs_t)
')

########################################
## <summary>
##	Connect to ccs over an unix stream socket.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ccs_stream_connect',`
	gen_require(`
		type ccs_t, ccs_var_run_t;
	')

	files_search_pids($1)
	stream_connect_pattern($1, ccs_var_run_t, ccs_var_run_t, ccs_t)
')

########################################
## <summary>
##	Read cluster configuration files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ccs_read_config',`
	gen_require(`
		type cluster_conf_t;
	')

	read_files_pattern($1, cluster_conf_t, cluster_conf_t)
')

########################################
## <summary>
##	Manage cluster configuration files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ccs_manage_config',`
	gen_require(`
		type cluster_conf_t;
	')

	manage_dirs_pattern($1, cluster_conf_t, cluster_conf_t)
	manage_files_pattern($1, cluster_conf_t, cluster_conf_t)
')
