## <summary>cloudform policy</summary>

#######################################
## <summary>
##  Creates types and rules for a basic
##  cloudform daemon domain.
## </summary>
## <param name="prefix">
##  <summary>
##  Prefix for the domain.
##  </summary>
## </param>
#
template(`cloudform_domain_template',`
    gen_require(`
        attribute cloudform_domain;
    ')

    type $1_t, cloudform_domain;
    type $1_exec_t;
    init_daemon_domain($1_t, $1_exec_t)

')

######################################
## <summary>
##     Execute mongod in the caller domain.
## </summary>
## <param name="domain">
##     <summary>
##     Domain allowed access.
##     </summary>
## </param>
#
interface(`cloudform_exec_mongod',`
    gen_require(`
       type mongod_exec_t;
    ')
 
    can_exec($1, mongod_exec_t)
')
