## <summary>DBus fingerprint reader service</summary>

########################################
## <summary>
##	Execute a domain transition to run fprintd.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`fprintd_domtrans',`
	gen_require(`
		type fprintd_t, fprintd_exec_t;
	')

	domtrans_pattern($1, fprintd_exec_t, fprintd_t)
')

########################################
## <summary>
##	Send and receive messages from
##	fprintd over dbus.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fprintd_dbus_chat',`
	gen_require(`
		type fprintd_t;
		class dbus send_msg;
	')

	allow $1 fprintd_t:dbus send_msg;
	allow fprintd_t $1:dbus send_msg;
')

