## <summary>Port of Apple Rendezvous multicast DNS</summary>

########################################
## <summary>
##	Send generic signals to howl.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`howl_signal',`
	gen_require(`
		type howl_t;
	')

	allow $1 howl_t:process signal;
')
