## <summary>IIIMF htt server</summary>

########################################
## <summary>
##	Use i18n_input over a TCP connection.  (Deprecated)
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`i18n_use',`
	refpolicywarn(`$0($*) has been deprecated.')
')
