## <summary>Internet Storage Name Service.</summary>

########################################
## <summary>
##	All of the rules required to
##	administrate an isnsd environment.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`isnsd_admin',`
	gen_require(`
		type isnsd_t, isnsd_initrc_exec_t, isnsd_var_lib_t;
		type isnsd_var_run_t;
	')

	allow $1 isnsd_t:process { ptrace signal_perms };
	ps_process_pattern($1, isnsd_t)

	init_labeled_script_domtrans($1, isnsd_initrc_exec_t)
	domain_system_change_exemption($1)
	role_transition $2 isnsd_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, isnsd_var_lib_t)

	files_search_pids($1)
	admin_pattern($1, isnsd_var_run_t)
')
