## <summary>Provides a DBus interface to communicate with mobile broadband (GSM, CDMA, UMTS, ...) cards.</summary>

########################################
## <summary>
##	Execute a domain transition to run modemmanager.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`modemmanager_domtrans',`
	gen_require(`
		type modemmanager_t, modemmanager_exec_t;
	')

	domtrans_pattern($1, modemmanager_exec_t, modemmanager_t)
')

########################################
## <summary>
##	Send and receive messages from
##	modemmanager over dbus.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`modemmanager_dbus_chat',`
	gen_require(`
		type modemmanager_t;
		class dbus send_msg;
	')

	allow $1 modemmanager_t:dbus send_msg;
	allow modemmanager_t $1:dbus send_msg;
')
