## <summary>Nessus network scanning daemon</summary>

########################################
## <summary>
##	Connect to nessus over a TCP socket  (Deprecated)
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nessus_tcp_connect',`
	refpolicywarn(`$0($*) has been deprecated.')
')
