## <summary>Authoritative only name server</summary>

########################################
## <summary>
##	Send and receive datagrams from NSD.  (Deprecated)
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nsd_udp_chat',`
	refpolicywarn(`$0($*) has been deprecated.')
')

########################################
## <summary>
##	Connect to NSD over a TCP socket  (Deprecated)
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nsd_tcp_connect',`
	refpolicywarn(`$0($*) has been deprecated.')
')
