
## <summary>policy for numad</summary>

########################################
## <summary>
##	Transition to numad.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`numad_domtrans',`
	gen_require(`
		type numad_t, numad_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, numad_exec_t, numad_t)
')

########################################
## <summary>
##	All of the rules required to administrate
##	an numad environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`numad_admin',`
	gen_require(`
		type numad_t;
		type numad_unit_file_t;
	')

	allow $1 numad_t:process { ptrace signal_perms };
	ps_process_pattern($1, numad_t)
')
