
## <summary>policy for openhpid</summary>


########################################
## <summary>
##	Transition to openhpid.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`openhpid_domtrans',`
	gen_require(`
		type openhpid_t, openhpid_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, openhpid_exec_t, openhpid_t)
')


########################################
## <summary>
##	Execute openhpid server in the openhpid domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`openhpid_initrc_domtrans',`
	gen_require(`
		type openhpid_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, openhpid_initrc_exec_t)
')


########################################
## <summary>
##	Search openhpid lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`openhpid_search_lib',`
	gen_require(`
		type openhpid_var_lib_t;
	')

	allow $1 openhpid_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read openhpid lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`openhpid_read_lib_files',`
	gen_require(`
		type openhpid_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, openhpid_var_lib_t, openhpid_var_lib_t)
')

########################################
## <summary>
##	Manage openhpid lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`openhpid_manage_lib_files',`
	gen_require(`
		type openhpid_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, openhpid_var_lib_t, openhpid_var_lib_t)
')

########################################
## <summary>
##	Manage openhpid lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`openhpid_manage_lib_dirs',`
	gen_require(`
		type openhpid_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, openhpid_var_lib_t, openhpid_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an openhpid environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`openhpid_admin',`
	gen_require(`
		type openhpid_t;
	type openhpid_initrc_exec_t;
	type openhpid_var_lib_t;
	')

	allow $1 openhpid_t:process { ptrace signal_perms };
	ps_process_pattern($1, openhpid_t)

	openhpid_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 openhpid_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, openhpid_var_lib_t)



')

