## <summary>Portslave terminal server software</summary>

########################################
## <summary>
##	Execute portslave with a domain transition.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`portslave_domtrans',`
	gen_require(`
		type portslave_t, portslave_exec_t;
	')

	domtrans_pattern($1, portslave_exec_t, portslave_t)
')
