## <summary>Network router discovery daemon</summary>

######################################
## <summary>
##	Execute rdisc in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rdisc_exec',`
	gen_require(`
		type rdisc_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, rdisc_exec_t)
')
