## <summary>Policy for rshd, rlogind, and telnetd.</summary>

########################################
## <summary>
##	Domain transition to the remote login domain.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process performing this action.
##	</summary>
## </param>
#
interface(`remotelogin_domtrans',`
	gen_require(`
		type remote_login_t;
	')

	auth_domtrans_login_program($1, remote_login_t)
')

########################################
## <summary>
##	allow Domain to signal remote login domain.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process performing this action.
##	</summary>
## </param>
#
interface(`remotelogin_signal',`
	gen_require(`
		type remote_login_t;
	')

	allow $1 remote_login_t:process signal;
')
