## <summary>Remote shell service.</summary>

########################################
## <summary>
##	Domain transition to rshd.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process performing this action.
##	</summary>
## </param>
#
interface(`rshd_domtrans',`
	gen_require(`
		type rshd_exec_t, rshd_t;
	')

	files_search_usr($1)
	corecmd_search_bin($1)
	domtrans_pattern($1, rshd_exec_t, rshd_t)
')
