## <summary>SSL Tunneling Proxy</summary>

########################################
## <summary>
##	Define the specified domain as a stunnel inetd service.
## </summary>
## <param name="domain">
##	<summary>
##	The type associated with the stunnel inetd service process.
##	</summary>
## </param>
## <param name="entrypoint">
##	<summary>
##	The type associated with the process program.
##	</summary>
## </param>
#
interface(`stunnel_service_domain',`
	gen_require(`
		type stunnel_t;
	')

	domtrans_pattern(stunnel_t,$2,$1)
	allow $1 stunnel_t:tcp_socket rw_socket_perms;
')
