## <summary>Policy for sysstat. Reports on various system states</summary>

########################################
## <summary>
##	Manage sysstat logs.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`sysstat_manage_log',`
	gen_require(`
		type sysstat_log_t;
	')

	logging_search_logs($1)
	manage_files_pattern($1, sysstat_log_t, sysstat_log_t)
')
