## <summary>USB multiplexing daemon for communicating with Apple iPod Touch and iPhone</summary>

########################################
## <summary>
##	Execute a domain transition to run usbmuxd.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`usbmuxd_domtrans',`
	gen_require(`
		type usbmuxd_t, usbmuxd_exec_t;
	')

	domtrans_pattern($1, usbmuxd_exec_t, usbmuxd_t)
')

#####################################
## <summary>
##	Connect to usbmuxd over a unix domain
##	stream socket.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`usbmuxd_stream_connect',`
	gen_require(`
		type usbmuxd_t, usbmuxd_var_run_t;
	')

	files_search_pids($1)
	stream_connect_pattern($1, usbmuxd_var_run_t, usbmuxd_var_run_t, usbmuxd_t)
')
