## <summary>Audit administrator role</summary>

########################################
## <summary>
##	Change to the audit administrator role.
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`auditadm_role_change',`
	gen_require(`
		role auditadm_r;
	')

	allow $1 auditadm_r;
')

########################################
## <summary>
##	Change from the audit administrator role.
## </summary>
## <desc>
##	<p>
##	Change from the audit administrator role to
##	the specified role.
##	</p>
##	<p>
##	This is an interface to support third party modules
##	and its use is not allowed in upstream reference
##	policy.
##	</p>
## </desc>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`auditadm_role_change_to',`
	gen_require(`
		role auditadm_r;
	')

	allow auditadm_r $1;
')
