## <summary>Security administrator role</summary>

########################################
## <summary>
##	Change to the security administrator role.
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`secadm_role_change',`
	gen_require(`
		role secadm_r;
	')

	allow $1 secadm_r;
')

########################################
## <summary>
##	Change from the security administrator role.
## </summary>
## <desc>
##	<p>
##	Change from the security administrator role to
##	the specified role.
##	</p>
##	<p>
##	This is an interface to support third party modules
##	and its use is not allowed in upstream reference
##	policy.
##	</p>
## </desc>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`secadm_role_change_to_template',`
	gen_require(`
		role secadm_r;
	')

	allow secadm_r $1;
')

