## <summary>Administrator's unprivileged user</summary>

########################################
## <summary>
##	Change to the staff role.
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`staff_role_change',`
	gen_require(`
		role staff_r;
	')

	allow $1 staff_r;
')

########################################
## <summary>
##	Change from the staff role.
## </summary>
## <desc>
##	<p>
##	Change from the staff role to
##	the specified role.
##	</p>
##	<p>
##	This is an interface to support third party modules
##	and its use is not allowed in upstream reference
##	policy.
##	</p>
## </desc>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`staff_role_change_to',`
	gen_require(`
		role staff_r;
	')

	allow staff_r $1;
')
