[Unit]
Description=Replacement for cron, with sophisticated status-reporting and error-handling
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/local/libexec/jobberd

[Install]
WantedBy=multi-user.target