## <summary>Tool for non-root processes to bind to reserved ports</summary>

########################################
## <summary>
##	Use authbind to bind to a reserved port.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`authbind_domtrans',`
	gen_require(`
		type authbind_t, authbind_exec_t;
	')

	domtrans_pattern($1, authbind_exec_t, authbind_t)
	allow authbind_t $1:{ tcp_socket udp_socket } rw_socket_perms;
')
