## <summary>
##	AWStats is a free powerful and featureful tool that generates advanced
##	web, streaming, ftp or mail server statistics, graphically.
## </summary>

########################################
## <summary>
##	Read and write awstats unnamed pipes.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`awstats_rw_pipes',`
	gen_require(`
		type awstats_t;
	')

	allow $1 awstats_t:fifo_file rw_fifo_file_perms;
')

########################################
## <summary>
##	Execute awstats cgi scripts in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`awstats_cgi_exec',`
	gen_require(`
		type httpd_awstats_script_exec_t, httpd_awstats_content_t;
	')

	allow $1 httpd_awstats_content_t:dir search_dir_perms;
	allow $1 httpd_awstats_script_exec_t:dir search_dir_perms;
	can_exec($1, httpd_awstats_script_exec_t)
')
