## <summary>Squid log analysis</summary>

#######################################
## <summary>
##	Allow domain to read calamaris www files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`calamaris_read_www_files',`
	gen_require(`
		type calamaris_www_t;
	')

	allow $1 calamaris_www_t:dir list_dir_perms;
	read_files_pattern($1, calamaris_www_t, calamaris_www_t)
	read_lnk_files_pattern($1, calamaris_www_t, calamaris_www_t)
')
