## <summary>Update database for mlocate</summary>

########################################
## <summary>
##	Create the locate log with append mode.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`slocate_create_append_log',`
	gen_require(`
		type locate_log_t;
	')

	logging_search_logs($1)
	create_files_pattern($1, locate_log_t, locate_log_t)
	append_files_pattern($1, locate_log_t, locate_log_t)
')

########################################
## <summary>
##	Read locate lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`locate_read_lib_files',`
	gen_require(`
		type locate_var_lib_t;
	')

	read_files_pattern($1, locate_var_lib_t, locate_var_lib_t)
	allow $1 locate_var_lib_t:dir list_dir_perms;
	files_search_var_lib($1)
')
