## <summary>Web server log analysis</summary>

########################################
## <summary>
##	Execute webalizer in the webalizer domain.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process performing this action.
##	</summary>
## </param>
#
interface(`webalizer_domtrans',`
	gen_require(`
		type webalizer_t, webalizer_exec_t;
	')

	domtrans_pattern($1, webalizer_exec_t, webalizer_t)
')

########################################
## <summary>
##	Execute webalizer in the webalizer domain, and
##	allow the specified role the webalizer domain.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process performing this action.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the webalizer domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`webalizer_run',`
	gen_require(`
		type webalizer_t;
	')

	webalizer_domtrans($1)
	role $2 types webalizer_t;
')
