## <summary>X Screensaver</summary>

########################################
## <summary>
##	Role access for xscreensaver
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role
##	</summary>
## </param>
#
interface(`xscreensaver_role',`
	gen_require(`
		type xscreensaver_t, xscreensaver_exec_t;
	')

	role $1 types xscreensaver_t;

	domtrans_pattern($2, xscreensaver_exec_t, xscreensaver_t)

	# Allow the user domain to signal/ps.
	ps_process_pattern($2, xscreensaver_t)
	allow $2 xscreensaver_t:process signal_perms;
')
