## <summary>System backup scripts</summary>

########################################
## <summary>
##	Execute backup in the backup domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`backup_domtrans',`
	gen_require(`
		type backup_t, backup_exec_t;
	')

	domtrans_pattern($1, backup_exec_t, backup_t)
')

########################################
## <summary>
##	Execute backup in the backup domain, and
##	allow the specified role the backup domain.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process performing this action.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the backup domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`backup_run',`
	gen_require(`
		type backup_t;
	')

	backup_domtrans($1)
	role $2 types backup_t;
')
