## <summary>ddcprobe retrieves monitor and graphics card information</summary>

########################################
## <summary>
##	Execute ddcprobe in the ddcprobe domain.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process performing this action.
##	</summary>
## </param>
#
interface(`ddcprobe_domtrans',`
	gen_require(`
		type ddcprobe_t, ddcprobe_exec_t;
	')

	domtrans_pattern($1, ddcprobe_exec_t, ddcprobe_t)
')

########################################
## <summary>
##	Execute ddcprobe in the ddcprobe domain, and
##	allow the specified role the ddcprobe domain.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process performing this action.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role to be authenticated for ddcprobe domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`ddcprobe_run',`
	gen_require(`
		type ddcprobe_t;
	')

	ddcprobe_domtrans($1)
	role $2 types ddcprobe_t;
')
