## <summary>System log analyzer and reporter</summary>

########################################
## <summary>
##	Read logwatch temporary files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`logwatch_read_tmp_files',`
	gen_require(`
		type logwatch_tmp_t;
	')

	files_search_tmp($1)
	allow $1 logwatch_tmp_t:file read_file_perms;
')

########################################
## <summary>
##	Search logwatch cache directory.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`logwatch_search_cache_dir',`
	gen_require(`
		type logwatch_cache_t;
	')

	allow $1 logwatch_cache_t:dir search_dir_perms;
')
