## <summary>Network traffic graphing</summary>

########################################
## <summary>
##	Create and append mrtg logs.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mrtg_append_create_logs',`
	gen_require(`
		type mrtg_log_t;
	')

	append_files_pattern($1, mrtg_log_t, mrtg_log_t)
	create_files_pattern($1, mrtg_log_t, mrtg_log_t)
')
