## <summary>Manage temporary directory sizes and file ages</summary>

########################################
## <summary>
##	Execute tmpreaper in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process performing this action.
##	</summary>
## </param>
#
interface(`tmpreaper_exec',`
	gen_require(`
		type tmpreaper_exec_t;
	')

	files_search_usr($1)
	corecmd_search_bin($1)
	can_exec($1, tmpreaper_exec_t)
')
