## <summary>Time zone updater</summary>

########################################
## <summary>
##	Execute a domain transition to run tzdata.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`tzdata_domtrans',`
	gen_require(`
		type tzdata_t, tzdata_exec_t;
	')

	domtrans_pattern($1, tzdata_exec_t, tzdata_t)
')

########################################
## <summary>
##	Execute the tzdata program in the tzdata domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to allow the tzdata domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`tzdata_run',`
	gen_require(`
		type tzdata_t;
	')

	tzdata_domtrans($1)
	role $2 types tzdata_t;
')
