## <summary>run real-mode video BIOS code to alter hardware state</summary>

########################################
## <summary>
##	Execute vbetool application in the vbetool domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vbetool_domtrans',`
	gen_require(`
		type vbetool_t, vbetool_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, vbetool_exec_t, vbetool_t)
')

########################################
## <summary>
##	Execute vbetool in the vbetool domain, and
##	allow the specified role the vbetool domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the vbetool domain.
##	</summary>
## </param>
#
interface(`vbetool_run',`
	gen_require(`
		type vbetool_t;
	')

	vbetool_domtrans($1)
	role $2 types vbetool_t;
')
